### IPFS Configurations ***
1m5.ipfs.local=http://127.0.0.1:5001
1m5.ipfs.encoding=UTF-8
1m5.ipfs.version=/api/v0/
1m5.ipfs.gateways.useTor=false
1m5.ipfs.gateways.tor=http://ipfs4uvgthshqonk.onion
1m5.ipfs.gateways.clearnet=https://ipfs.io/ipfs/:hash
#1m5.ipfs.gateways.clearnet.failureToConnect=https://siderus.io/ipfs/:hash,https://www.eternum.io/ipfs/:hash,https://hardbin.com/ipfs/:hash,https://ipfs.macholibre.org/ipfs/:hash,https://ipfs.works/ipfs/:hash,https://ipfs.work/ipfs/:hash,https://gateway.blocksec.com/ipfs/:hash
#1m5.ipfs.gateways.clearnet.404=https://catalunya.network/ipfs/:hash,https://api.wisdom.sh/ipfs/:hash
#1m5.ipfs.gateways.clearnet.handshakefailure=https://ipfs.jes.xxx/ipfs/:hash
#1m5.ipfs.gateways.clearnet.502=https://upload.global/ipfs/:hash
#1m5.ipfs.gateways.clearnet.verified.writeable=
#1m5.ipfs.gateways.clearnet.verified.readonly=https://ipfs.infura.io/ipfs/:hash,https://gateway.ipfs.io/ipfs/:hash,https://xmine128.tk/ipfs/:hash,https://ipfs.wa.hle.rs/ipfs/:hash.https://ipfs.renehsz.com/ipfs/:hash
#1m5.ipfs.gateways.clearnet=https://ipfs.io/ipfs/:hash,https://gateway.ipfs.io/ipfs/:hash,https://ipfs.infura.io/ipfs/:hash,https://xmine128.tk/ipfs/:hash,https://upload.global/ipfs/:hash,https://ipfs.jes.xxx/ipfs/:hash,https://catalunya.network/ipfs/:hash,https://siderus.io/ipfs/:hash,https://www.eternum.io/ipfs/:hash,https://hardbin.com/ipfs/:hash,https://ipfs.macholibre.org/ipfs/:hash,https://ipfs.works/ipfs/:hash,https://ipfs.work/ipfs/:hash,https://ipfs.wa.hle.rs/ipfs/:hash,https://api.wisdom.sh/ipfs/:hash,https://gateway.blocksec.com/ipfs/:hash,https://ipfs.renehsz.com/ipfs/:hash
1m5.ipfs.gateways.clearnet.checker=https://ipfs.github.io/public-gateway-checker/gateways.json