### IPFS Configurations ***
1m5.ipfs.local=http://127.0.0.1:5001
1m5.ipfs.encoding=UTF-8
1m5.ipfs.gateways.useTor=false
1m5.ipfs.gateways.tor=http://ipfs4uvgthshqonk.onion
1m5.ipfs.gateways.clearnet=https://ipfs.io/ipfs/:hash
1m5.ipfs.gateways.checker=https://ipfs.github.io/public-gateway-checker/gateways.json
1m5.ipfs.version=/api/v0/