### Prana Service ###
1m5.prana.shareCPU=false
1m5.prana.maxCPUShareable=0
1m5.prana.aminoPerGHzPerSecond=0
1m5.prana.shareNetwork=false
1m5.prana.maxNetworkShareableMbps=0
1m5.prana.aminoPerNetworkMb=0.0
1m5.prana.shareStorage=false
1m5.prana.maxStorageShareableMBs=0
1m5.prana.aminoPerStorageMB=0.0
